body {
  background: rgb(228, 237, 238);
}
button {
  border: 0;
  background: none;
}
#head1 {
  font-family: "Gothic A1", sans-serif;
  font-size: 400%;
}
h2 {
  font-family: "Gothic A1", sans-serif;
  font-size: 250%;
}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
#con {
  font-family: "Gothic A1", sans-serif;
  font-size: 125%;
}
