body {
  background: rgb(228, 237, 238);
}
button {
  border: 0;
  background: none;
}
h2 {
  font-family: "Oswald", sans-serif;
  font-family: "PT Serif", serif;
  font-family: "Ramaraja", serif;
  font-size: 300%;
}
