<!DOCTYPE html>
<html lang="en">

<head>
    <title>Arxiv Audio</title>
    
    <!-- Bootstrap cdn -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

    <!--style sheet-->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}" />

    <!--fontawesome-->
    <script src="https://kit.fontawesome.com/c2d169ee97.js" crossorigin="anonymous"></script>

    <!--google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200;300&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200;300&display=swap" rel="stylesheet">

</head>

<body>
    <div class="container" style="padding-top: 7%">
        <h2 id="head1" class="text-center">Arxiv Audio</h2>
        <div class="container-fluid" style="padding-top: 7%; padding-left: 5%">
            <form method="POST" action="/papers">
                <div class="row justify-content-center">
                    <div class="col-md-5">
                        <input type="text" class="form-control form-control-lg" id="query" name="query" placeholder="Search paper">
                    </div>
                    <div class="col-md-auto">
                        <button type="submit">                            
                            <i class="fa fa-search" style="font-size:36px"></i>
                        </button>
                    </div>
                </div>            
            
                </div>
            
            </form>
            <div class="container-fluid text-center" style="padding-top: 3%">
                <i class="fa fa-file-pdf-o" style="font-size:40px"></i>
                <i class='fas fa-long-arrow-alt-right' style='font-size:40px'></i>
                <i class="fa fa-file-audio-o" style="font-size:40px"></i>
            </div>
            <div class="row justify-content-center" style="padding-top: 2%">
                        <div class=" col-md-auto">
                <p id="con">Convert arxiv papers to audio book</p>
            </div>
            </div>
            
        </div>
        

    </div>
    <footer class="page-footer fixed-bottom">
        <div style="padding-left: 1%;">  
            <div class="row justify-content-sm-center">
                <div class="col-md-auto nopadding">
                    <p>Support us at</p>
                </div>
                <div class="col-md-auto">
                    <a href="https://github.com/ArchanGhosh/ArxivAudio" target="_blank">
                    <i class="fa fa-github" style="font-size:25px;color:black;"></i>
                    </a>
                </div>                
            </div>  
            
            
        </div>    
    </footer>
    
</body>

</html>